USE [master]
GO
/****** Object:  Database [UpravljanjeZahtevimaDB]    Script Date: 07-Sep-26 9:09:14 PM ******/
CREATE DATABASE [UpravljanjeZahtevimaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UpravljanjeZahtevimaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UpravljanjeZahtevimaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UpravljanjeZahtevimaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UpravljanjeZahtevimaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UpravljanjeZahtevimaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UpravljanjeZahtevimaDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijent]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NazivFirme] [nvarchar](100) NOT NULL,
	[Kontakt] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijents]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NazivFirme] [nvarchar](max) NULL,
	[Kontakt] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Telefon] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Klijents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[Lozinka] [varchar](255) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Uloga] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisniks]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisniks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [nvarchar](max) NULL,
	[Lozinka] [nvarchar](max) NULL,
	[Ime] [nvarchar](max) NULL,
	[Prezime] [nvarchar](max) NULL,
	[Uloga] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Korisniks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaZahteva]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaZahteva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZahtevId] [int] NOT NULL,
	[OznakaStavke] [int] NOT NULL,
	[FazaVrstaPosla] [nvarchar](100) NOT NULL,
	[ProcenjeniSati] [decimal](6, 2) NOT NULL,
	[Napomena] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaZahtevas]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaZahtevas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZahtevId] [int] NOT NULL,
	[OznakaStavke] [int] NOT NULL,
	[FazaVrstaPosla] [nvarchar](max) NULL,
	[ProcenjeniSati] [decimal](18, 2) NOT NULL,
	[Napomena] [nvarchar](max) NULL,
	[ZahtevZaIzmenom_Id] [int] NULL,
 CONSTRAINT [PK_dbo.StavkaZahtevas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZahtevZaIzmenom]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZahtevZaIzmenom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrojZahteva] [nvarchar](20) NOT NULL,
	[DatumPodnosenja] [datetime] NOT NULL,
	[KlijentId] [int] NOT NULL,
	[KorisnikId] [int] NOT NULL,
	[NazivProjekta] [nvarchar](150) NOT NULL,
	[ZahtevPodneo] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[DetaljanOpis] [nvarchar](max) NOT NULL,
	[PoslovniRazlog] [nvarchar](max) NULL,
	[UticajNaRok] [nvarchar](max) NULL,
	[NoviDatumIsporuke] [date] NULL,
	[PotvrdaMenadzera] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BrojZahteva] UNIQUE NONCLUSTERED 
(
	[BrojZahteva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZahtevZaIzmenoms]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZahtevZaIzmenoms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrojZahteva] [nvarchar](max) NULL,
	[DatumPodnosenja] [datetime] NOT NULL,
	[KlijentId] [int] NOT NULL,
	[KorisnikId] [int] NOT NULL,
	[NazivProjekta] [nvarchar](max) NULL,
	[ZahtevPodneo] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[DetaljanOpis] [nvarchar](max) NULL,
	[PoslovniRazlog] [nvarchar](max) NULL,
	[UticajNaRok] [nvarchar](max) NULL,
	[NoviDatumIsporuke] [datetime] NULL,
	[PotvrdaMenadzera] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ZahtevZaIzmenoms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ZahtevZaIzmenom_Id]    Script Date: 07-Sep-26 9:09:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ZahtevZaIzmenom_Id] ON [dbo].[StavkaZahtevas]
(
	[ZahtevZaIzmenom_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KlijentId]    Script Date: 07-Sep-26 9:09:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_KlijentId] ON [dbo].[ZahtevZaIzmenoms]
(
	[KlijentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KorisnikId]    Script Date: 07-Sep-26 9:09:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_KorisnikId] ON [dbo].[ZahtevZaIzmenoms]
(
	[KorisnikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ZahtevZaIzmenom] ADD  DEFAULT ((0)) FOR [PotvrdaMenadzera]
GO
ALTER TABLE [dbo].[StavkaZahteva]  WITH CHECK ADD  CONSTRAINT [FK_Stavka_Zahtev] FOREIGN KEY([ZahtevId])
REFERENCES [dbo].[ZahtevZaIzmenom] ([Id])
GO
ALTER TABLE [dbo].[StavkaZahteva] CHECK CONSTRAINT [FK_Stavka_Zahtev]
GO
ALTER TABLE [dbo].[StavkaZahtevas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StavkaZahtevas_dbo.ZahtevZaIzmenoms_ZahtevZaIzmenom_Id] FOREIGN KEY([ZahtevZaIzmenom_Id])
REFERENCES [dbo].[ZahtevZaIzmenoms] ([Id])
GO
ALTER TABLE [dbo].[StavkaZahtevas] CHECK CONSTRAINT [FK_dbo.StavkaZahtevas_dbo.ZahtevZaIzmenoms_ZahtevZaIzmenom_Id]
GO
ALTER TABLE [dbo].[ZahtevZaIzmenom]  WITH CHECK ADD  CONSTRAINT [FK_Zahtev_Klijent] FOREIGN KEY([KlijentId])
REFERENCES [dbo].[Klijent] ([Id])
GO
ALTER TABLE [dbo].[ZahtevZaIzmenom] CHECK CONSTRAINT [FK_Zahtev_Klijent]
GO
ALTER TABLE [dbo].[ZahtevZaIzmenom]  WITH CHECK ADD  CONSTRAINT [FK_Zahtev_Korisnik] FOREIGN KEY([KorisnikId])
REFERENCES [dbo].[Korisnik] ([Id])
GO
ALTER TABLE [dbo].[ZahtevZaIzmenom] CHECK CONSTRAINT [FK_Zahtev_Korisnik]
GO
ALTER TABLE [dbo].[ZahtevZaIzmenoms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ZahtevZaIzmenoms_dbo.Klijents_KlijentId] FOREIGN KEY([KlijentId])
REFERENCES [dbo].[Klijents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZahtevZaIzmenoms] CHECK CONSTRAINT [FK_dbo.ZahtevZaIzmenoms_dbo.Klijents_KlijentId]
GO
ALTER TABLE [dbo].[ZahtevZaIzmenoms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ZahtevZaIzmenoms_dbo.Korisniks_KorisnikId] FOREIGN KEY([KorisnikId])
REFERENCES [dbo].[Korisniks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZahtevZaIzmenoms] CHECK CONSTRAINT [FK_dbo.ZahtevZaIzmenoms_dbo.Korisniks_KorisnikId]
GO
/****** Object:  StoredProcedure [dbo].[spKlijent_Add]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKlijent_Add]
    @NazivFirme VARCHAR(100),
    @Kontakt VARCHAR(100),
    @Telefon VARCHAR(50) = NULL,
    @Email VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Klijent (NazivFirme, Kontakt, Telefon, Email)
    VALUES (@NazivFirme, @Kontakt, @Telefon, @Email);

    SELECT SCOPE_IDENTITY() AS NoviId;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKlijent_Delete]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKlijent_Delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Klijent
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKlijent_GetAll]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKlijent_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, NazivFirme, Kontakt, Email, Telefon
    FROM Klijent;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKlijent_GetById]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKlijent_GetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, NazivFirme, Kontakt, Email, Telefon
    FROM Klijent
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKlijent_Update]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKlijent_Update]
    @Id INT,
    @NazivFirme VARCHAR(100),
    @Kontakt VARCHAR(100),
    @Telefon VARCHAR(50) = NULL,
    @Email VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Klijent
    SET NazivFirme = @NazivFirme,
        Kontakt = @Kontakt,
        Telefon = @Telefon,
        Email = @Email
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKorisnik_Add]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKorisnik_Add]
    @KorisnickoIme VARCHAR(50),
    @Lozinka VARCHAR(255),
    @Ime VARCHAR(50),
    @Prezime VARCHAR(50),
    @Uloga VARCHAR(20),
    @Email VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Heširamo uneti tekst u SHA-256 i pretvaramo u HEX string
    DECLARE @HesiranaLozinka VARCHAR(64);
    SET @HesiranaLozinka = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @Lozinka), 2);

    INSERT INTO Korisnik (KorisnickoIme, Lozinka, Ime, Prezime, Uloga, Email)
    VALUES (@KorisnickoIme, @HesiranaLozinka, @Ime, @Prezime, @Uloga, @Email);

    SELECT SCOPE_IDENTITY() AS NoviId;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKorisnik_Delete]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKorisnik_Delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Korisnik
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKorisnik_GetAll]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKorisnik_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, KorisnickoIme, Lozinka, Ime, Prezime, Uloga, Email
    FROM Korisnik;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKorisnik_GetById]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKorisnik_GetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, KorisnickoIme, Lozinka, Ime, Prezime, Uloga, Email
    FROM Korisnik
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKorisnik_Prijava]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKorisnik_Prijava]
    @KorisnickoIme VARCHAR(50),
    @Lozinka VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @HesiranaLozinka VARCHAR(64);
    SET @HesiranaLozinka = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @Lozinka), 2);

    SELECT Id, KorisnickoIme, Lozinka, Ime, Prezime, Uloga, Email
    FROM Korisnik
    WHERE KorisnickoIme = @KorisnickoIme 
      AND Lozinka = @HesiranaLozinka;
END;
GO
/****** Object:  StoredProcedure [dbo].[spKorisnik_Update]    Script Date: 07-Sep-26 9:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spKorisnik_Update]
    @Id INT,
    @KorisnickoIme VARCHAR(50),
    @Lozinka VARCHAR(255),
    @Ime VARCHAR(50),
    @Prezime VARCHAR(50),
    @Uloga VARCHAR(20),
    @Email VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @HesiranaLozinka VARCHAR(64);
    SET @HesiranaLozinka = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @Lozinka), 2);

    UPDATE Korisnik
    SET KorisnickoIme = @KorisnickoIme,
        Lozinka = @HesiranaLozinka,
        Ime = @Ime,
        Prezime = @Prezime,
        Uloga = @Uloga,
        Email = @Email
    WHERE Id = @Id;
END;
GO
USE [master]
GO
